print("THIS IS CALCULATE YOUR NUMBER AND %")
choice="y"  
while choice.lower() == "y" :
    a=int(input("Enter 1st nmber : "))
    if a>100:
        print("Enter valid number !")
        break
       
    b=int(input ("Enter 2nd nmber  : "))
    if b >100:
        print("Plese enter valid number !")
        break
    c=int(input ("Enter 3rd nmber : "))
    if c >100:
        print("Plese enter valid number !")
        break
    d=int(input("Enter 4th nmber : "))
    if d >100:
        print("Plese enter valid number !")
        break
    e=int (input("Enter 5th nmber :")) 
    if e >100:
        print("Plese enter valid number !") 
        break 
    f=a+b+c+d+e
    print("Your Total number is:",f)
    g=f/5
    if g>100:
        print("Plese enter valid number !")   
    elif 100>=g>=75:
        print("Plese enter valid number !") 
        print ("Your percentage is:",g)
        print("Distinction ")
    elif 60<=g<=75: 
        print ("Your percentage is:",g)
        print("you got Ist division")
    elif 50<=g<=60:
        print ("Your percentage is:",g)
        print("you got IInd division ")
    elif 40<=g<=50:
        print ("Your percentage is:",g)
        print("You got IIIrd division")
    elif g>100 :
        print ("Your percentage is:",g)
        print("please Enter valid number ! ")
    else:
        print("Failed !")
    choice=str(input("continue ? (Y/N): "))
print("Bye !")
